/* Desktop view */
@media screen and (min-width: 1024px){
    .artistWrapperContainer {
        margin: 2rem 3rem;
        /* padding: 0.5rem; */
        position: relative;
    }
    
    /* .artistBoxContainer {
        width: 30rem !important;
        height: 20rem !important;
        margin: 0rem 2rem;
    } */
    
    /* .artistTextBoxContainer {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 0.9rem;
    } */
    
}

/* mobile view */
.artistWrapperContainer {
    margin-bottom: 5rem; 
    position: relative;
}

.caroueslDiv {
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 1rem;
}

.caroueslDiv::-webkit-scrollbar {
    margin: 1rem 0rem;
    height: 0.5rem;
    border: 1rem solid gray;

}

.caroueslDiv::-webkit-scrollbar-track {
    box-shadow: rgb(94, 92, 84);
  }

  .caroueslDiv::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid slategrey;
    margin: 1.8rem 0rem;
  }

.artistBoxContainer {
    width:30rem !important;
    height: 20rem;
    margin: 0rem 2rem;
    /* scroll-snap-align: start; */
}

.artistImageBoxContainer {
    background-color: rgb(8, 19, 122);
    width: 100%;
    height: 80%;
}

.artistImageBoxContainer img {
    width: 100%;
    height: 100%;
}

.artistTextBoxContainer {
    width: 19rem;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 0.5rem; */
}

.artistTextBoxIdentity h3 {
    width: 100%;
    display: flex;
}

.followArtistHead {
    margin: 1rem 1rem;
}


.artistfollowBtn {
    width: 8rem;
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.6rem 2rem;
    border: 1px solid gray;
    cursor: pointer;
}


.artistWrapperContainer:hover .arrowBtn {
    display: block;
}

.artistfollowBtn:hover {
    background-color: black;
    color: #fff;
}

.controls {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 100%;
    visibility: hidden;
}

.artistWrapperContainer:hover .controls {
    visibility: visible;
}

.controls > * {
    width: 3rem;
    font-size: 3.5rem;
    color: rgb(94, 98, 222);
    background: transparent;
    border-radius: 3rem;
    border: 0;
    cursor: pointer;
}
