@media only screen and (min-width: 600px) {
    .textContainer1 {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
}

.signInContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.signInWelcomeHead {
    font-size: 3.5rem;
    background: -webkit-linear-gradient( 90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 52%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bodoni Moda', serif;
}

.textsummary {
    text-align: center;
}

.textContainer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.formContainer {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0rem 1.5rem 0rem 0rem;
}

.formControls > input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
}

.passwordIcon {
    background-color: #fff;
}

.register {
    color: linear-gradient(0deg, rgba(253,187,45,1) 20%, rgba(34,193,195,1) 79%);
    text-decoration: underline;
    margin: 0rem 0.5rem;
}

.loginbtn {
    padding: 1rem;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.paragraphreset {
    display: flex;
    justify-content: flex-end;
}

.forgotpassword {
    color: linear-gradient(0deg, rgba(253,187,45,1) 20%, rgba(34,193,195,1) 79%);
}

.separateline {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lineseparate {
    border: 1px solid #fff;
    width: 10.5rem;
    margin: 0rem 0.9rem;
}

.optionsignin {
    width: 25rem;
}

.optionControls > button {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 52%, rgba(0,212,255,1) 100%);
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: #fff;
    margin: 0.8rem 0rem;
}

