/* Desktop */
@media screen and (min-width: 1024px) {
    
.meetAdvisorWrapper {
    background-color: aqua;
    margin: 3rem 3rem;
}

.meetAdvisorContainer {
    background-color: burlywood;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20rem;
} 

.advisorBox1 {
    background-color: lightgoldenrodyellow;
    width: 30%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advisorBox1Text {
    font-size: 1.9rem;
    width: 80%;
    text-align: center;
    margin: 0.9rem 0rem;
}

.advisorBtnDiscover {
    margin: 0.5rem 0rem;
    outline: invert;
    background: none;
    padding: 1rem 2.5rem; 
    border-radius: 1.5rem;
    border: 1px solid #000;
    font-size: 1rem;
}

.advisorBox2 {
    background-image: url('/images/artsyimage.webp');
    background-position: right center;
    width: 70%;
    height: 20rem;
}

}
