    /* desktop screen */
    @media screen and (min-width: 1024px){
    .navContainer {
        background-color: #fff;
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    .navMobile {
        display: none !important;
    }

    .navContainer1 {
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #000;
        padding: 0.5rem 0rem;
    }

    .navContainer1 a {
        color: #000;
    }
    
    .navContainer1 > div {
        padding: 0.3rem 0.5rem;
        border: 1px solid #fff;
    }
    
    .navContainer1 > div:hover {
        border: 1px solid #b72727;
    }
    
    .logoContain {
        border: 1px solid #b72727 !important;
        padding: 0px;
        background-color: #fff;
    }
    
    .logoContain:hover {
        border: 1px solid #fff;
        background-color: #b72727;
        color: #fff;
    }
    
    .logo {
        font-family: 'Bodoni Moda', serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(5, 60, 75);
        text-decoration: none;
    }
    
    .logo:hover {
        color: #fff;
    }
    
    
    
  }

/* tablet screen */
/* @media screen and (min-width: 768px)
 and (max-width: 1024px){} */


 /* default mobile screen */
    .navContainer {
      background-color: #fff;
    }

    .navContainer1 {
        display: none;
    }

    .navMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
    }
  

 