.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
  }
  .h1text {
    text-align: center;
  }

  .formcontainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .formgroup > input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .formgroup > button {
    display: block;
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 4px;
    background: radial-gradient(circle, rgba(174,237,238,0.9641106442577031) 0%, rgba(148,187,233,1) 74%);
    color: white;
    border: none;
    cursor: pointer;
  }

  .btntextbottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }