.container {
    max-width: 400px;
    margin: 0 auto;
  }
  .h1text {
    text-align: center;
  }

  .formcontainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .formgroup > input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .formgroup > button {
    display: block;
    width: 105%;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .btntextbottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }