* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
      font-family: 'Poppins', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-top: 1rem;
      overscroll-behavior-x: none;
  }

  /******* Mobile view *************/

  .redDiv{
    background-image: url('/images/sweet_boy.JPG');
  }

  .blueDiv {
    background-image: url('/images/no_smile.JPG');
  }

  .greenDiv {
    background-image: url('/images/twin_sisters.JPG');
  }


  .centerRedDiv {
    background-color: rgb(215, 11, 205);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .userContainer > div:hover .centerRedDiv {
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
  }

  
  .centerRedDiv h2 {
    text-decoration: underline;
  }

  .findoutmore {
    border: 1px solid #fff;
    background-color: rgb(243, 247, 241);
    padding: 0.5rem;
    margin: 0.5rem;
    width: 15rem;
    cursor: pointer;
    color: #000000;
    font-weight: 800;
    font-size: large;
    font-family: 'Bodoni Moda', serif;
    border-radius: 0.5rem;
  }

  .blogDisplayContentImagery {
    /* background-image: url(''); */
  }

  .carouselz2Container::-webkit-scrollbar {
    height: 0.2rem;
  }

  .carouselz2Container::-webkit-scrollbar-track {
    background-color: rgb(248, 245, 245);
    border-radius: 2rem;
}

.carouselz2Container::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: rgb(25, 23, 21);
    width: 3px;
}

.carouselz2Container::-webkit-scrollbar-thumb:hover {
    background-color: #161616;
}

  @media screen and (min-width: 1024px){
    body {
      padding-top: 6.6rem;
    }
  }

  
  